*{
    margin: 0;
    padding: 0;
    font-family: "Handlee", cursive;
    box-sizing: border-box;
}

body {
    background-image: url('files/imgbg.jpg');
    /* Set background image size */
    background-size: auto; /* Other values can be 'contain', '100% auto', etc. */
    /* Set background image position */
    background-position: center; /* Other values can be 'top', 'left', 'bottom', 'right', etc. */
    /* Set background image repeat */
    background-repeat: no-repeat; /* Other values can be 'repeat', 'repeat-x', 'repeat-y', etc. */
    /* Set background color as a fallback in case the image is not available or fails to load */
    background-color: #f0f0f0; /* Choose a suitable background color */
    /* Set other body styles (optional) */
    
    height: 1100px;
    padding-bottom: 50px;
}

.app{
    background: #fff;
    width: 90%;
    max-width:  600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    
} 


.app2 {
    background: #fff;
    height: 90%;
    max-width:  900px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-size: 25px;
    color: #065763 ;
    font-weight: 600;
    border-bottom: 1px solid #003c46;
    padding-bottom: 30px;

}

.quiz{
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #003c46;
    font-weight: 600;

}


.btn{
    background: #fff;
    color: #003c46;
    font-weight: 500;
    width: 100%;
    border: 1px solid #003c46;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover{
    background: #138496;
    color: #fff;
}

#tombolnext{
    background: #138496 ;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none; 
}

#tombolhome{
    /* background: #138496 ; */
    color: #138496;
    font-weight: 500;
    /* width: 150px; */
    /* border: 0; */
    padding: 10px;
    margin: 20px auto 0;
    /* border-radius: 4px; */
    cursor: pointer;
    display: none; 
    display: inline-block; /* or block, depending on your use case */
    margin: 0 auto; /* Automatically adjusts the left and right margins to center the element */
}

.container {
    text-align: center; /* Horizontally center the content */
  }


.terklik{
    background: #7deeff;
    color: #003c46;
    font-weight: 500;
    width: 100%;
    border: 1px solid #003c46;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}